*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(263px at 100.2% 3%, rgb(12, 85, 141) 31.1%, rgb(205, 181, 93) 36.4%, rgb(244, 102, 90) 50.9%, rgb(199, 206, 187) 60.7%, rgb(249, 140, 69) 72.5%, rgb(12, 73, 116) 72.6%);
}

.main-container{
    border: 10px double black;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #fff;
}

.dice-img{
    height: 300px;
}

.heading{
    text-align: center;
    padding: 5px;
}

.btn{
    margin: 2px auto;
    display: block;
    padding: 15px;
    width: 10rem;
    border-radius: 20px;
    border: none;
    background-color: blueviolet;
    color: #fff;
    margin-top: 30px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(73, 3, 138);
    transition: 0.5s;
}